@model IEnumerable<DashboardManagerMadera.Models.Client>

@{
    ViewData["Title"] = "Clients";
}

<div class="section">
    <div class="text-left">
        <h1 class="display-4">Liste des <span id="titre_section">clients</span></h1>
        <h3 class="mb-4">Retrouvez ici la liste des <b>clients</b> de l'entreprise Madera !</h3>
        <hr />

        <a asp-action="Create"><button type="button" class="btn btn-success mb-4"><span><i class="fas fa-plus"></i></span> Nouveau client</button></a>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Clients</h6>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Company)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Phone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedAt)
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Company)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Phone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedAt)
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.ID)</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Company)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedAt)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.ID"><button type="button" class="btn btn-outline-warning"><span><i class="fas fa-pen"></i></span></button></a>
                                    <a asp-action="Delete" asp-route-id="@item.ID"><button type="button" class="btn btn-outline-danger"><span><i class="fas fa-trash"></i></span></button></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Section CSS -->
@section styles{
    <!-- HomePage Client core CSS -->
    <script src="~/lib/datatables/css/dataTables.bootstrap4.css"></script>
    <link rel="stylesheet" href="~/css/Liste_Client.css" />
}

<!-- Section JS -->
@section scripts{
    <!-- HomePage Client core JavaScript -->
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/Liste_Client.js"></script>
}
